# virtual environment
venv/
# Python Bytecode
__pycache__/
*.pyc

# macOS spezifische Dateien
.DS_Store

# IDE-spezifische Dateien
.vscode/
*.swp

# Ignoriere recipes.json
recipes.json

# ignore password
mailstuff.md

# configuration der passwoerter
config.json

#sqlite db
subscribers.db